
* {
	-webkit-box-sizing:border-box;
	        box-sizing:border-box;
	/* border:1px solid grey; */
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


body {
	margin:0;
	padding:0;
	background:#f9f9f9;
	font-family: 'Poppins', 'Helvetica', sans-serif;
}

.container {
	position:relative;
	margin:0px auto;
	width:100%;
	max-width:1920px;
	height:100vh;
	overflow:hidden;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:justify;
	    -ms-flex-pack:justify;
	        justify-content:space-between;
}

#left {
	position:absolute;
	margin-left:0;
	height:100vh;
	overflow:hidden;
	max-width:960px;
	width:50%;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#571E3EDF), to(#1E1F3EDF)),url('./img/Background.jpg');
	background-image:-o-linear-gradient(top, #571E3EDF, #1E1F3EDF),url('./img/Background.jpg');
	background-image:linear-gradient(to bottom, #571E3EDF, #1E1F3EDF),url('./img/Background.jpg');
	background-repeat:no-repeat;
	background-position:center top;
	background-size:cover;
	padding:40px;
	border-top-right-radius:50px;
	border-bottom-right-radius:50px;
	-webkit-box-shadow: 5px 0px 25px rgba(0,0,0,0.4);
	        box-shadow: 5px 0px 25px rgba(0,0,0,0.4);
	-webkit-transition:margin-left .5s ease-in-out;
	-o-transition:margin-left .5s ease-in-out;
	transition:margin-left .5s ease-in-out;
}

#right {
	float:right;
	position:absolute;
	right:0;
	max-width:960px;
	height:100vh;
	width:50%;
	padding:20px;
}



#right .wrap-right{
	max-width:960px;
	height:100%;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:center;
	    -ms-flex-pack:center;
	        justify-content:center;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	    -ms-flex-direction:column;
	        flex-direction:column;
	-webkit-box-align:center;
	    -ms-flex-align:center;
	        align-items:center;
	overflow-y:scroll;
	-ms-overflow-style:none;
	scrollbar-width:none;
}
#right .wrap-right::-webkit-scrollbar {
	display:none;
}


#right .wrap-right .photo-wrap{
	width:100%;
	
}
#right .wrap-right .photo-wrap .photo{
	margin:0px auto;
	width:280px;
	height:280px;
	border-radius:100%;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:center;
	    -ms-flex-pack:center;
	        justify-content:center;
	-webkit-box-align:center;
	    -ms-flex-align:center;
	        align-items:center;
	-webkit-box-shadow: 15px 0 15px rgba(0,0,0,0.2);
	        box-shadow: 15px 0 15px rgba(0,0,0,0.2);
}

#right .wrap-right .photo-wrap .photo img{
	width:92%;
	border-radius:100%;
}

#right .wrap-right h2{
	text-align:center;
	font-size:38px;
	font-weight:400;
	color: #3c3c3c;
}
#right .wrap-right p{
	margin-top:-20px;
	text-align:center;
	font-size:20px;
	color: #8f8f8f;
}
#right .wrap-right .button-wrap{
	width:100%;
	height:60px;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:center;
	    -ms-flex-pack:center;
	        justify-content:center;
	-webkit-box-align:center;
	    -ms-flex-align:center;
	        align-items:center;
}

.button-1 {
	background:#851E3E;
	border-radius:100px;
	width:300px;
	height:60px;
	text-align:center;
	font-size:18px;
	font-weight:600;
	color:white;
	text-decoration:none;
	line-height:60px;
	-webkit-transition:all .1s ease-out;
	-o-transition:all .1s ease-out;
	transition:all .1s ease-out;

}
.button-1:hover{
	-webkit-box-shadow:0px 5px 5px rgba(0,0,0,0.3);
	        box-shadow:0px 5px 5px rgba(0,0,0,0.3);
	-webkit-transform:translateY(-5px);
	    -ms-transform:translateY(-5px);
	        transform:translateY(-5px);
}

.back-button{
	position:absolute;
	right:20px;
	top:20px;
	width:28px;
	height:28px;
	background:black;
	color:white;
	border-radius:20px;
	font-size:14px;
	line-height:28px;
	text-align:center;
	display:none;
	cursor:pointer;
	text-decoration:none;
	font-weight:bold;
	-webkit-box-shadow: 3px 3px 25px rgba(255,255,255,0.2);
	        box-shadow: 3px 3px 25px rgba(255,255,255,0.2);
}


.wrap-left{
	width:100%;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:center;
	    -ms-flex-pack:center;
	        justify-content:center;
	height:100%;
}



.wrap-left #choose-menu{
	padding:10px;
	color:#f1f1f1;
	height:100%;
	width:100%;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:center;
	    -ms-flex-pack:center;
	        justify-content:center;
	-webkit-box-align:center;
	    -ms-flex-align:center;
	        align-items:center;
	overflow-y:scroll;
	-ms-overflow-style:none;
	scrollbar-width:none;
}
.wrap-left #choose-menu::-webkit-scrollbar {
	display:none;
}


.wrap-left #about{
	padding:10px;
	color:#f1f1f1;
	height:100%;
	width:100%;
	display:none;
	overflow-y:scroll;
	-ms-overflow-style:none;
	scrollbar-width:none;
}
.wrap-left #about::-webkit-scrollbar {
	display:none;
}

.wrap-left #about p{
	color:#e0e0e0;
}




.wrap-left #skills{
	
	color:#f1f1f1;
	height:100%;
	width:100%;
	-ms-flex-item-align:start;
	    align-self:flex-start;
	display:none;
	overflow-y:scroll;
	direction:rtl;
	padding-left:20px;
}

.wrap-left #skills .skill-container{
	width:100%;
	direction:ltr;
}
.wrap-left #skills .skill-container .skill-set{
	width:100%;
	padding:5px;
}
.wrap-left #skills .skill-container .skill-set progress{
	width:100%;
	height:20px;
	-webkit-appearance:none;
	border:none;
	display:block;
	-webkit-box-shadow:3px 3px 15px rgba(0,0,0,0.6);
	        box-shadow:3px 3px 15px rgba(0,0,0,0.6);
}
.wrap-left #skills .skill-container .skill-set progress::-webkit-progress-bar{
	background:#f1f1f1;

}
.wrap-left #skills .skill-container .skill-set progress::-webkit-progress-value{
	background-color:#93B4C7;
	
}

.wrap-left #skills details summary{
	cursor:pointer;
	display:inline-block;
	outline:none;
	
}
.wrap-left #skills details ul li{
	color:#cecece;
	
}










.wrap-left #artwork{
	padding:10px;
	color:#f1f1f1;
	height:100%;
	width:100%;
	display:none;
	overflow-y:scroll;
	direction:rtl;
	padding-left:20px;
}

.wrap-left #artwork .artwork-container{
	width:100%;
	direction:ltr;
}


.wrap-left #artwork .gallery{
	width:100%;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-ms-flex-wrap:wrap;
	    flex-wrap:wrap;
	-ms-flex-pack:distribute;
	    justify-content:space-around;
}
.wrap-left #artwork .gallery .images-container{
	width:100%;
	max-width:500px;
	-webkit-box-shadow: 3px 3px 15px rgba(0,0,0,0.4);
	        box-shadow: 3px 3px 15px rgba(0,0,0,0.4);
	margin-bottom:20px;
}
.wrap-left #artwork .gallery .images-container p{
	margin-top:-20px;
	text-align:center;
}
.wrap-left #artwork .gallery .images-container img{
	width:100%;
	
}




#copyright{
	width:100%;
	max-width:360px;
	height:140px;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-align:center;
	    -ms-flex-align:center;
	        align-items:center;
	-webkit-box-pack:center;
	    -ms-flex-pack:center;
	        justify-content:center;
}
#copyright #copy-p {
	margin-top:0;
	width:100%;
}
















#right .menu-bar {
	position:absolute;
	background-image:-webkit-gradient(linear,left top, left bottom,from(#571E3E),to(#1E1F3E));
	background-image:-o-linear-gradient(#571E3E,#1E1F3E);
	background-image:linear-gradient(#571E3E,#1E1F3E);
	min-height:320px;
	padding:10px 0;
	width:72px;
	right:0;
	top:50%;
	-webkit-transform:translateY(-50%);
	    -ms-transform:translateY(-50%);
	        transform:translateY(-50%);
	border-top-left-radius:25px;
	border-bottom-left-radius:25px;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-ms-flex-pack:distribute;
	    justify-content:space-around;
	-webkit-box-align:center;
	    -ms-flex-align:center;
	        align-items:center;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	    -ms-flex-direction:column;
	        flex-direction:column;
	-webkit-box-shadow: -5px -5px 15px rgba(0,0,0,0.3);
	        box-shadow: -5px -5px 15px rgba(0,0,0,0.3);
}
#right .menu-bar .link {
	width:64px;
	height:64px;
	text-align:center;
	cursor:pointer;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-align:center;
	    -ms-flex-align:center;
	        align-items:center;
	-webkit-box-pack:center;
	    -ms-flex-pack:center;
	        justify-content:center;
	padding:10px;
	
}
#right .menu-bar .link:hover > a {
	font-size:12px;
}

#right .menu-bar .link a{
	color:white;
	text-decoration:none;
	font-size:10px;
	-webkit-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	transition: all .2s ease-out;
	background:trasparent;
	cursor:pointer;
}


#right .menu-bar .link a img{
	margin:0px auto;
	display:block;
	width:40px;
	height:auto;
}



/* MEDIA QUERY */
@media only screen and (max-width:960px){
	
	#left{
		margin-left:-120%;
		z-index:840;
		width:100%;
	}
	.back-button{
		display:block;
	}
	
	
	
	#right{
		width:100%;
	}
	
	
	
	
	
	
}




@media only screen and (max-width:480px){
	
	#left{
		margin-left:-120%;
		z-index:840;
		width:100%;
	}
	.back-button{
		display:block;
	}
	
	
	
	#right{
		width:100%;
		height:100%;
		
	}
	
	#right .wrap-right p{
		margin-top:-20px;
	}

	
	.wrap-left .content h2{
		text-align:center;
		font-size:18px;
		
	}
	.wrap-left #about p{
		text-indent:30px;
		text-align:justify;
		
	}
	.wrap-left #skills{
		padding-left:0px;
	}
	
	.wrap-left #artwork{
		padding-left:0px;
	}
		
	
	.wrap-left #artwork .gallery .images-container p{
		margin-top:0px;
		font-size:12px;
	}
	

	#copyright #copy-p {
		font-size:10px;
	}
	#copyright #copy-p span{
		font-size:14px;
	}

	
	
	
	
	
	
	#right .menu-bar {
		background:#1E1F3E;
		min-height:auto;
		height:70px;
		-webkit-box-orient:horizontal;
		-webkit-box-direction:normal;
		    -ms-flex-direction:row;
		        flex-direction:row;
		width:100%;
		top:auto;
		-webkit-transform:translateY(0%);
		    -ms-transform:translateY(0%);
		        transform:translateY(0%);
		border-bottom-left-radius:0;
		border-top-right-radius:25px;
		-webkit-box-shadow:-3px 0px 15px rgba(0,0,0,0.4);
		        box-shadow:-3px 0px 15px rgba(0,0,0,0.4);
		bottom:0;
	
	}
	
	#right .menu-bar .link a{
		font-size:10px;
	}
	
	#right .menu-bar .link a img{
		width:26px;
	}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	#right .wrap-right .photo-wrap{
		margin-top:-50px;
	}
	#right .wrap-right .photo-wrap .photo{
		width:200px;
		height:200px;
	}

	#right .wrap-right .photo-wrap .photo img{
		width:92%;
		border-radius:100%;
	}

	#right .wrap-right h2{
		margin-top:15px;
		font-size:26px;
	}
	#right .wrap-right p{
		font-size:16px;
	}
	#right .wrap-right .button-wrap{
		margin-top:-15px;
	}
	.button-1 {
		width:200px;
		height:40px;
		font-size:12px;
		line-height:40px;
	}
	#right .wrap-right .email{
		margin-top:-20px;
		font-size:12px;
	}
}
