/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #f9f9f9;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p,
li {
  line-height: 30px;
  font-size: 16px;
}

.container {
  position: relative;
  margin: 0px auto;
  width: 100%;
  max-width: 1920px;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* LEFT Aside */

#left {
  position: absolute;
  margin-left: 0;
  height: 100vh;
  overflow: hidden;
  max-width: 960px;
  width: 50%;
  background-image: -o-linear-gradient(top, #571e3edf, #1e1f3edf),
    url('./img/backgrounds/Background.jpg');
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#571e3edf),
      to(#1e1f3edf)
    ),
    url('./img/backgrounds/Background.jpg');
  background-image: linear-gradient(to bottom, #571e3edf, #1e1f3edf),
    url('./img/backgrounds/Background.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  padding: 40px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  -webkit-box-shadow: 5px 0px 25px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 0px 25px rgba(0, 0, 0, 0.4);
  -webkit-transition: margin-left 0.5s ease-in-out;
  -o-transition: margin-left 0.5s ease-in-out;
  transition: margin-left 0.5s ease-in-out;
}

/* LEFT Aside */

/* RIGHT Aside */
#right {
  float: right;
  position: absolute;
  right: 0;
  max-width: 960px;
  height: 100vh;
  width: 50%;
  padding: 20px;
}

#right > .summary {
  max-width: 960px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.summary__photo-wrap {
  width: 100%;
  height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 10px;
}
.summary__photo {
  width: 130px;
  height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: white;
  -webkit-box-shadow: 2px 0px 25px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 0px 25px rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 50px;
}
.summary__photo > img {
  width: 118px;
  height: 118px;
  border-radius: 46px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
.summary__photo .available {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  border: 5px solid white;
  font-size: 20px;
  font-family: serif;
  font-weight: 800;
  color: white;
  background-color: #25ef34;
  right: 0;
  bottom: 0;
  cursor: pointer;
}

/* ############################################# */
.summary__name {
  margin: 0px auto;
  margin-top: 10px;
  font-size: 36px;
  font-weight: 800;
  color: #3c3c3c;
}
.summary__job-title {
  margin: 0px auto;
  margin-top: 5px;
  font-size: 16px;
  font-weight: 600;
  color: #8f8f8f;
}
/* ############################################# */

.summary__stats {
  margin: 0px auto;
  margin-top: 10px;
  margin-bottom: 20px;
  max-width: 420px;
  width: 100%;
  height: auto;

  padding: 0px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.summary__box-stats {
  font-family: 'Inter', sans-serif;
  margin: 15px;
  width: 25%;
  cursor: pointer;
  background: none;
  border: none;
}
.summary__head-num {
  display: block;
  margin: 0px auto;
  padding: 0px;
  text-align: center;
  font-size: 42px;
  font-weight: 700;
  color: #511e3e;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.summary__head-num:hover {
  color: #753b3b;
}
.summary__head-title {
  display: block;
  margin: 0px auto;
  padding: 0px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: #3c3c3c;
}

/* ############################################# */

.summary__button-wrap {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.summary__button-wrap .button-1 {
  background: #851e3e;
  border-radius: 100px;
  width: 300px;
  height: 60px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: white;
  text-decoration: none;
  line-height: 60px;
  -webkit-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.summary__button-wrap .button-1:hover {
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
}
/* ############################################# */

.summary__link-wrap {
  margin-top: 20px;
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.summary__link-wrap .download-link {
  text-decoration: underline;
  color: #851e3e;
  font-weight: 600;
  font-size: 16px;
}
/* ############################################# */
.summary__footer {
  width: 100%;
  margin-top: 20px;
}

.summary__wrapper-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  list-style-type: none;
  padding-left: 0;
}

.summary__link-item {
  margin-left: 0;
  width: 24px;
  height: 24px;
  margin: 0 6px;
}

.summary__footer-link {
  text-decoration: none;
}
.summary__footer-link > img {
  width: 24px;
  height: 24px;
  opacity: 0.75;
}
/* ############################################# */

/* RIGHT Aside */

.back-button {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 28px;
  height: 28px;
  background: black;
  border:none;
  color: rgb(175, 175, 175);
  border-radius: 20px;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  display: none;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  -webkit-box-shadow: 3px 3px 25px rgba(255, 255, 255, 0.2);
  box-shadow: 3px 3px 25px rgba(255, 255, 255, 0.2);
}

.wrap-left {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
}

.content-container {
  width: 100%;
  direction: ltr;
}

.content-container > .heading-content {
  margin-bottom: 20px;
  font-weight: 800;
}

/* #######################H HOME ########################### */
#home {
  padding: 10px;
  color: #f1f1f1;
  height: 100%;
  width: 100%;
  display: block;
  direction: rtl;
  overflow-y: auto;
  padding-left: 20px;
}

#home .home__paragraph > a {
  color: inherit;
}
#home .home__todo {
  margin-top: 20px;
  margin-bottom: 40px;
}
#home .home__todo h3 {
  margin-bottom: 20px;
}
#home .home__todo ul {
  padding-left: 16px;
}
/* #######################H HOME ########################### */

/* #######################H TECH ########################### */

#tech {
  padding: 10px;
  color: #f1f1f1;
  height: 100%;
  width: 100%;
  display: none;
  direction: rtl;
  overflow-y: auto;
  padding-left: 20px;
}

#tech .content-container .tech__group {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}
#tech .content-container .wrap-tech {
  margin-bottom: 40px;
}
#tech .content-container .wrap-tech h3 {
  margin: 0px auto;
  margin-bottom: 10px;
  padding: 0px;
  font-weight: 600;
}
#tech .content-container .wrap-tech ul {
  padding-left: 16px;
}
#tech .content-container .wrap-tech ul li {
  margin: 0px auto;
  padding: 0px;
  font-weight: 400;
}

/* #######################H TECH ########################### */

/* #######################H PROJECT ########################### */
#project {
  padding: 10px;
  color: #f1f1f1;
  height: 100%;
  width: 100%;
  display: none;
  direction: rtl;

  overflow-y: auto;
  padding-left: 20px;
}
#project .content-container .wrap-project {
  margin-bottom: 20px;
}
#project .content-container .wrap-project h3 {
  margin: 0px auto;
  margin-bottom: 10px;
  padding: 0px;
  font-weight: 600;
}

#project .content-container .wrap-project > p {
  margin: 0px auto;
  padding: 0px;
  font-weight: 400;
  font-size: 14px;
}
#project .content-container .wrap-project .img-wrap {
  margin: 40px auto;
  min-height: 140px;
  width: 90%;
  max-width: 420px;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
#project .content-container .wrap-project .img-wrap img {
  display: block;
  margin: 0px auto;
  width: 100%;
  height: auto;
}
#project .content-container .wrap-project details {
  margin-bottom: 20px;
  padding-bottom: 20px;
}
#project .content-container .wrap-project details summary {
  font-size: 16px;
  cursor: pointer;
  color: #dbdbdb;
}
#project .content-container .wrap-project details .detail-project {
  margin-top: 20px;
}
#project
  .content-container
  .wrap-project
  details
  .detail-project
  .summary-title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}
#project
  .content-container
  .wrap-project
  details
  .detail-project
  p a  {
 color:inherit;
}
#project .content-container .wrap-project details .detail-project ul {
  padding-left: 16px;
}
#project .content-container .wrap-project details .detail-project ul li {
  line-height: 30px;
  font-size: 16px;
}

/* #######################H PROJECT ########################### */

/* #######################H CERTIFICATED ########################### */
#certificate {
  padding: 10px;
  color: #f1f1f1;
  height: 100%;
  width: 100%;
  display: none;
  direction: rtl;

  overflow-y: auto;
  padding-left: 20px;
}
#certificate .content-container h3 {
  margin-bottom: 10px;
}

#certificate .content-container .certificate__group {
  margin-bottom: 40px;
}
#certificate .content-container .certificate__group ul {
  padding-left: 16px;
}
#certificate .content-container .certificate__group ul li {
  margin-bottom: 20px;
}
#certificate .content-container .certificate__group ul li h4 {
  margin: 0px auto;
  padding: 0px;
  font-weight: 600;
}
#certificate .content-container .certificate__group ul li p {
  margin: 0px auto;
  padding: 0px;
  font-weight: 400;
  font-size: 14px;
}
#certificate .content-container .certificate__group ul li .linkto-certificate {
  margin-top: 0px;
  font-size: 12px;
}
#certificate
  .content-container
  .certificate__group
  ul
  li
  .linkto-certificate
  a {
  text-decoration: underline;
  color: #b6b6b6;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#certificate
  .content-container
  .certificate__group
  ul
  li
  .linkto-certificate
  a:hover {
  text-decoration: none;
  color: #30f79a;
}
/* #######################H CERTIFICATED ########################### */

/* MEDIA QUERY ############################################################################# */
/* MEDIA QUERY ############################################################################# */
/* MEDIA QUERY ############################################################################# */
/* MEDIA QUERY ############################################################################# */
/* MEDIA QUERY ############################################################################# */
/* MEDIA QUERY ############################################################################# */
/* MEDIA QUERY ############################################################################# */
/* MEDIA QUERY ############################################################################# */
/* MEDIA QUERY ############################################################################# */
/* MEDIA QUERY ############################################################################# */
/* MEDIA QUERY ############################################################################# */
/* MEDIA QUERY ############################################################################# */
/* MEDIA QUERY ############################################################################# */
/* MEDIA QUERY ############################################################################# */
/* MEDIA QUERY ############################################################################# */
/* MEDIA QUERY ############################################################################# */
/* MEDIA QUERY ############################################################################# */
/* MEDIA QUERY ############################################################################# */
/* MEDIA QUERY ############################################################################# */
/* MEDIA QUERY ############################################################################# */
/* MEDIA QUERY ############################################################################# */
/* MEDIA QUERY ############################################################################# */
/* MEDIA QUERY ############################################################################# */
/* MEDIA QUERY ############################################################################# */

@media only screen and (max-width: 960px) {
  #left {
    margin-left: -120%;
    z-index: 840;
    width: 100%;
  }
  .back-button {
    z-index: 890;
    display: block;
  }

  #right {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  p,
  li {
    line-height: 24px;
    font-size: 14px;
  }

  #left {
    margin-left: -120%;
    z-index: 840;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
  .back-button {
    display: block;
  }

  #right {
    width: 100%;
    height: 100%;
  }

  .content-container {
    padding: 20px;
  }
  /* ###################### PHOTO ########################## */

  .summary__photo-wrap {
    height: 100px;
    margin-bottom: 0px;
  }
  .summary__photo {
    width: 100px;
    height: 100px;

    border-radius: 42px;
  }
  .summary__photo img {
    width: 88px;
    height: 88px;
    border-radius: 38px;
  }
  .summary__photo .available {
    width: 32px;
    height: 32px;
    font-size: 16px;
  }
  /* ###################### PHOTO ########################## */

  /* ######################  NAME & TITLE  ####################### */
  .summary__name {
    font-size: 24px;
  }
  .summary__job-title {
    font-size: 14px;
  }
  /* #####################  NAME & TITLE  ######################## */
  /* #####################   STATS   ######################## */
  .summary__stats {
    margin-top: 20px;
    padding: 0px;
  }
  .summary__box-stats {
    margin: 0px;
    width: 100px;
  }
  .summary__head-num {
    font-size: 30px;
  }
  .summary__head-title {
    font-size: 14px;
  }

  /* ######################   STATS   ####################### */
  /* ######################   BUTTON WRAP   ####################### */

  .summary__button-wrap {
    margin-top: 10px;
    height: 48px;
  }

  .summary__button-wrap .button-1 {
    width: 240px;
    height: 48px;
    line-height: 48px;
    font-size: 14px;
  }

  /* #####################   BUTTON WRAP   ######################## */
  /* #################    WRAP LINK DOWNLOAD   ############################ */

  .summary__link-wrap .download-link {
    font-size: 14px;
  }
  /* ######################    WRAP LINK DOWNLOAD   ####################### */
  /* ######################  FOOTER  ####################### */
  .summary__footer {
    margin-top: 20px;
  }

  .summary__link-item {
    width: 20px;
    height: 20px;
  }

  .summary__footer-link > img {
    width: 20px;
    height: 20px;
  }
  /* ######################  FOOTER  ####################### */

  /* ################ LEFT LEFT LEFT #######################*
  /* ################ LEFT LEFT LEFT #######################*


  /* #######################H TECH ########################### */

  #tech .content-container .tech__group {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  /* #######################H TECH ########################### */

  /* #######################H CERTIFICATED ########################### */

  #certificate .content-container ul li .linkto-certificate {
    font-size: 14px;
  }
  /* #######################H CERTIFICATED ########################### */
  /* #######################H PROJECT ########################### */

  #project .content-container .wrap-project .img-wrap {
    margin: 20px auto;
    width: 100%;
  }
  #project .content-container .wrap-project details {
    margin-bottom: 10px;
  }

  #project .content-container .wrap-project details .detail-project ul li {
    line-height: 24px;
    font-size: 14px;
  }
  /* #######################H PROJECT ########################### */

  /* ################ LEFT LEFT LEFT #######################* */
  /* ################ LEFT LEFT LEFT #######################* */
}
